{% extends "layout.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
<h1>Accueil Twig</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis enim, earum minus obcaecati maxime numquam
    blanditiis id aspernatur laboriosam voluptate accusantium repudiandae iure est suscipit repellendus impedit tempora
    fuga porro consectetur nemo sapiente ex sequi? Sint totam inventore dolorum optio omnis nisi, praesentium architecto
    eaque at fugiat. Fuga, impedit distinctio?</p>
{% endblock %}